@tailwind base;
@tailwind components;
@tailwind utilities;



ol.pl-5{
    counter-reset:my-counter
}

.li::before{
    content:counter(my-counter, decimal-leading-zero);
    counter-increment: my-counter;
    margin-right:1.5rem;
    font-size:1.7rem;
    font-family: sans-serif;
    color:gray;
    font-weight: lighter;
    opacity: 0.5;
} 